<div class="col-300 hidden-sm-down">
	<div>
		<div class="filter-accordion">
			<div class="filter-header"><span class="filter-title">Filter</span>
				<button class="btn btn-link" type="button">Reset</button>
			</div>
			<div class="filter-card card">
				<div class="card-header"><span class="card-title"><i class="ei-flag"></i> Stop</span><i
						class="ei-expand-less"></i></div>
				<div class="collapse show">
					<div class="custom-controls-stacked" style="max-height: none;">
						<label class="custom-control custom-checkbox">
							<input class="custom-control-input" type="checkbox" name="transit" value="0"><span
								class="custom-control-indicator"></span><span
								class="custom-control-description"><span>Show non-stop flights only</span></span>
							<button type="button" class="btn btn-link">Only</button>
						</label>
						<label class="custom-control custom-checkbox">
							<input class="custom-control-input" type="checkbox" name="transit" value="1"><span
								class="custom-control-indicator"></span><span class="custom-control-description"><span>1
									Stop</span></span>
							<button type="button" class="btn btn-link">Only</button>
						</label>
						<label class="custom-control custom-checkbox">
							<input class="custom-control-input" type="checkbox" name="transit" value="2"><span
								class="custom-control-indicator"></span><span
								class="custom-control-description"><span>2+ Stops</span></span>
							<button type="button" class="btn btn-link">Only</button>
						</label>
					</div>
				</div>
			</div>
			<div class="filter-card card">
				<div class="card-header"><span class="card-title"><i class="ei-baggage"></i> Baggage</span><i
						class="ei-expand-less"></i></div>
				<div class="collapse show">
					<div class="custom-controls-stacked" style="max-height: none;">
						<label class="custom-control custom-checkbox">
							<input class="custom-control-input" type="checkbox" name="luggage" value="0"><span
								class="custom-control-indicator"></span><span
								class="custom-control-description"><span><i class="ei-shopping-bag"></i>
									Carry-on</span></span>
							<button type="button" class="btn btn-link">Only</button>
						</label>
						<label class="custom-control custom-checkbox">
							<input class="custom-control-input" type="checkbox" name="luggage" value="20"><span
								class="custom-control-indicator"></span><span
								class="custom-control-description"><span><i class="ei-suitcase"></i> Check-in baggage of
									20 kg and over</span></span>
							<button type="button" class="btn btn-link">Only</button>
						</label>
						<label class="custom-control custom-checkbox">
							<input class="custom-control-input" type="checkbox" name="luggage" value="23"><span
								class="custom-control-indicator"></span><span
								class="custom-control-description"><span><i class="ei-suitcase"></i> Check-in baggage of
									23 kg and over</span></span>
							<button type="button" class="btn btn-link">Only</button>
						</label>
					</div>
				</div>
			</div>
			<div class="filter-card card">
				<div class="card-header"><span class="card-title"><i class="ei-poll"></i> Flight price</span><i
						class="ei-expand-less"></i></div>
				<div class="collapse show">
					<div class="card-body">
						<div class="filter-slider">
							<div class="filter-slider-detail">
								<div class="filter-slider-label">Maximum price:</div>
								<div class="filter-slider-content">₹ 503,180</div>
							</div>
							<div class="rc-slider">
								<div class="rc-slider-rail"></div>
								<div class="rc-slider-track" style="visibility: visible; left: 0%; width: 100%;"></div>
								<div class="rc-slider-step"></div>
								<div role="slider" tabindex="0" aria-valuemin="7259" aria-valuemax="41613"
									aria-valuenow="41613" aria-disabled="false" class="rc-slider-handle"
									style="left: 100%;"></div>
								<div class="rc-slider-mark"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="filter-card card">
				<div class="card-header"><span class="card-title"><i class="ei-timer"></i> Departure / arrival
						times</span><i class="ei-expand-less"></i></div>
				<div class="collapse show">
					<div class="card-body">
						<div class="filter-slider">
							<div class="filter-slider-detail">
								<div class="filter-slider-label">Depart, New York | NYCA</div>
								<div class="filter-slider-content">00:00 to 23:59</div>
							</div>
							<div class="rc-slider">
								<div class="rc-slider-rail"></div>
								<div class="rc-slider-track rc-slider-track-1"
									style="visibility: visible; left: 0%; width: 100.069%;"></div>
								<div class="rc-slider-step"></div>
								<div role="slider" tabindex="0" aria-valuemin="0" aria-valuemax="1439" aria-valuenow="0"
									aria-disabled="false" class="rc-slider-handle rc-slider-handle-1" style="left: 0%;">
								</div>
								<div role="slider" tabindex="0" aria-valuemin="0" aria-valuemax="1439"
									aria-valuenow="1440" aria-disabled="false"
									class="rc-slider-handle rc-slider-handle-2" style="left: 100.069%;"></div>
								<div class="rc-slider-mark"></div>
							</div>
							<div class="btn-group-filter" role="group">
								<button type="button" class="btn btn-secondary">Night</button>
								<button type="button" class="btn btn-secondary">Morning</button>
								<button type="button" class="btn btn-secondary">Noon</button>
								<button type="button" class="btn btn-secondary">Evening</button>
							</div>
						</div>
						<div class="filter-slider">
							<div class="filter-slider-detail">
								<div class="filter-slider-label">Arrive, Berlin | BERA</div>
								<div class="filter-slider-content">00:00 to 23:59</div>
							</div>
							<div class="rc-slider">
								<div class="rc-slider-rail"></div>
								<div class="rc-slider-track rc-slider-track-1"
									style="visibility: visible; left: 0%; width: 100.069%;"></div>
								<div class="rc-slider-step"></div>
								<div role="slider" tabindex="0" aria-valuemin="0" aria-valuemax="1439" aria-valuenow="0"
									aria-disabled="false" class="rc-slider-handle rc-slider-handle-1" style="left: 0%;">
								</div>
								<div role="slider" tabindex="0" aria-valuemin="0" aria-valuemax="1439"
									aria-valuenow="1440" aria-disabled="false"
									class="rc-slider-handle rc-slider-handle-2" style="left: 100.069%;"></div>
								<div class="rc-slider-mark"></div>
							</div>
							<div class="btn-group-filter" role="group">
								<button type="button" class="btn btn-secondary">Night</button>
								<button type="button" class="btn btn-secondary">Morning</button>
								<button type="button" class="btn btn-secondary">Noon</button>
								<button type="button" class="btn btn-secondary">Evening</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="filter-card card">
				<div class="card-header"><span class="card-title"><i class="ei-timer"></i> Flight duration</span><i
						class="ei-expand-less"></i></div>
				<div class="collapse show">
					<div class="card-body">
						<div class="filter-slider">
							<div class="filter-slider-detail">
								<div class="filter-slider-label">Maximum duration:</div>
								<div class="filter-slider-content">1d 8h</div>
							</div>
							<div class="rc-slider">
								<div class="rc-slider-rail"></div>
								<div class="rc-slider-track" style="visibility: visible; left: 0%; width: 100%;"></div>
								<div class="rc-slider-step"></div>
								<div role="slider" tabindex="0" aria-valuemin="470" aria-valuemax="1920"
									aria-valuenow="1920" aria-disabled="false" class="rc-slider-handle"
									style="left: 100%;"></div>
								<div class="rc-slider-mark"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="filter-card card">
				<div class="card-header"><span class="card-title"><i class="ei-flight-up"></i> Airlines</span><i
						class="ei-expand-less"></i></div>
				<div class="collapse show">
					<div class="custom-controls-stacked" style="max-height: 204px;">
						<div class="btn-group-filter btn-group-filter-link" role="group">
							<button type="button" class="btn btn-outline-info">Select all</button>
							<button type="button" class="btn btn-outline-info">Select none</button>
						</div>
						<label class="custom-control custom-checkbox">
							<input class="custom-control-input" type="checkbox" name="airlines" value="EI"><span
								class="custom-control-indicator"></span><span
								class="custom-control-description"><span>Aer Lingus</span></span>
							<button type="button" class="btn btn-link">Only</button>
						</label>
						<label class="custom-control custom-checkbox">
							<input class="custom-control-input" type="checkbox" name="airlines" value="SU"><span
								class="custom-control-indicator"></span><span
								class="custom-control-description"><span>Aeroflot</span></span>
							<button type="button" class="btn btn-link">Only</button>
						</label>
						<label class="custom-control custom-checkbox">
							<input class="custom-control-input" type="checkbox" name="airlines" value="AC"><span
								class="custom-control-indicator"></span><span
								class="custom-control-description"><span>Air Canada</span></span>
							<button type="button" class="btn btn-link">Only</button>
						</label>
						<label class="custom-control custom-checkbox">
							<input class="custom-control-input" type="checkbox" name="airlines" value="AF"><span
								class="custom-control-indicator"></span><span
								class="custom-control-description"><span>Air France</span></span>
							<button type="button" class="btn btn-link">Only</button>
						</label>
						<label class="custom-control custom-checkbox">
							<input class="custom-control-input" type="checkbox" name="airlines" value="AZ"><span
								class="custom-control-indicator"></span><span
								class="custom-control-description"><span>Alitalia</span></span>
							<button type="button" class="btn btn-link">Only</button>
						</label>
						<label class="custom-control custom-checkbox">
							<input class="custom-control-input" type="checkbox" name="airlines" value="AA"><span
								class="custom-control-indicator"></span><span
								class="custom-control-description"><span>American Airlines</span></span>
							<button type="button" class="btn btn-link">Only</button>
						</label>
						<label class="custom-control custom-checkbox">
							<input class="custom-control-input" type="checkbox" name="airlines" value="EV"><span
								class="custom-control-indicator"></span><span
								class="custom-control-description"><span>Atlantic Southeast</span></span>
							<button type="button" class="btn btn-link">Only</button>
						</label>
						<label class="custom-control custom-checkbox">
							<input class="custom-control-input" type="checkbox" name="airlines" value="OS"><span
								class="custom-control-indicator"></span><span
								class="custom-control-description"><span>Austrian</span></span>
							<button type="button" class="btn btn-link">Only</button>
						</label>
						<label class="custom-control custom-checkbox">
							<input class="custom-control-input" type="checkbox" name="airlines" value="CJ"><span
								class="custom-control-indicator"></span><span
								class="custom-control-description"><span>BA Cityflyer</span></span>
							<button type="button" class="btn btn-link">Only</button>
						</label>
						<label class="custom-control custom-checkbox">
							<input class="custom-control-input" type="checkbox" name="airlines" value="BA"><span
								class="custom-control-indicator"></span><span
								class="custom-control-description"><span>British Airways</span></span>
							<button type="button" class="btn btn-link">Only</button>
						</label>
						<label class="custom-control custom-checkbox">
							<input class="custom-control-input" type="checkbox" name="airlines" value="SN"><span
								class="custom-control-indicator"></span><span
								class="custom-control-description"><span>Brussels Airlines</span></span>
							<button type="button" class="btn btn-link">Only</button>
						</label>
						<label class="custom-control custom-checkbox">
							<input class="custom-control-input" type="checkbox" name="airlines" value="WX"><span
								class="custom-control-indicator"></span><span
								class="custom-control-description"><span>Cityjet</span></span>
							<button type="button" class="btn btn-link">Only</button>
						</label>
						<label class="custom-control custom-checkbox">
							<input class="custom-control-input" type="checkbox" name="airlines" value="DL"><span
								class="custom-control-indicator"></span><span
								class="custom-control-description"><span>Delta Air Lines</span></span>
							<button type="button" class="btn btn-link">Only</button>
						</label>
						<label class="custom-control custom-checkbox">
							<input class="custom-control-input" type="checkbox" name="airlines" value="AY"><span
								class="custom-control-indicator"></span><span
								class="custom-control-description"><span>Finnair</span></span>
							<button type="button" class="btn btn-link">Only</button>
						</label>
						<label class="custom-control custom-checkbox">
							<input class="custom-control-input" type="checkbox" name="airlines" value="IB"><span
								class="custom-control-indicator"></span><span
								class="custom-control-description"><span>Iberia</span></span>
							<button type="button" class="btn btn-link">Only</button>
						</label>
						<label class="custom-control custom-checkbox">
							<input class="custom-control-input" type="checkbox" name="airlines" value="FI"><span
								class="custom-control-indicator"></span><span
								class="custom-control-description"><span>Icelandair</span></span>
							<button type="button" class="btn btn-link">Only</button>
						</label>
						<label class="custom-control custom-checkbox">
							<input class="custom-control-input" type="checkbox" name="airlines" value="KL"><span
								class="custom-control-indicator"></span><span
								class="custom-control-description"><span>KLM Royal Dutch Airlines</span></span>
							<button type="button" class="btn btn-link">Only</button>
						</label>
						<label class="custom-control custom-checkbox">
							<input class="custom-control-input" type="checkbox" name="airlines" value="LE"><span
								class="custom-control-indicator"></span><span
								class="custom-control-description"><span>LE Airline</span></span>
							<button type="button" class="btn btn-link">Only</button>
						</label>
						<label class="custom-control custom-checkbox">
							<input class="custom-control-input" type="checkbox" name="airlines" value="LO"><span
								class="custom-control-indicator"></span><span
								class="custom-control-description"><span>LOT Polish Airlines</span></span>
							<button type="button" class="btn btn-link">Only</button>
						</label>
						<label class="custom-control custom-checkbox">
							<input class="custom-control-input" type="checkbox" name="airlines" value="LH"><span
								class="custom-control-indicator"></span><span
								class="custom-control-description"><span>Lufthansa</span></span>
							<button type="button" class="btn btn-link">Only</button>
						</label>
						<label class="custom-control custom-checkbox">
							<input class="custom-control-input" type="checkbox" name="airlines" value="I2"><span
								class="custom-control-indicator"></span><span
								class="custom-control-description"><span>Munich Airlines</span></span>
							<button type="button" class="btn btn-link">Only</button>
						</label>
						<label class="custom-control custom-checkbox">
							<input class="custom-control-input" type="checkbox" name="airlines" value="AI"><span
								class="custom-control-indicator"></span><span
								class="custom-control-description"><span>Nacil Air India</span></span>
							<button type="button" class="btn btn-link">Only</button>
						</label>
						<label class="custom-control custom-checkbox">
							<input class="custom-control-input" type="checkbox" name="airlines" value="DY"><span
								class="custom-control-indicator"></span><span
								class="custom-control-description"><span>Norwegian Air Shuttle</span></span>
							<button type="button" class="btn btn-link">Only</button>
						</label>
						<label class="custom-control custom-checkbox">
							<input class="custom-control-input" type="checkbox" name="airlines" value="SK"><span
								class="custom-control-indicator"></span><span
								class="custom-control-description"><span>Scandinavian Airlines</span></span>
							<button type="button" class="btn btn-link">Only</button>
						</label>
						<label class="custom-control custom-checkbox">
							<input class="custom-control-input" type="checkbox" name="airlines" value="LX"><span
								class="custom-control-indicator"></span><span
								class="custom-control-description"><span>Swiss</span></span>
							<button type="button" class="btn btn-link">Only</button>
						</label>
						<label class="custom-control custom-checkbox">
							<input class="custom-control-input" type="checkbox" name="airlines" value="TK"><span
								class="custom-control-indicator"></span><span
								class="custom-control-description"><span>Turkish Airlines</span></span>
							<button type="button" class="btn btn-link">Only</button>
						</label>
						<label class="custom-control custom-checkbox">
							<input class="custom-control-input" type="checkbox" name="airlines" value="PS"><span
								class="custom-control-indicator"></span><span
								class="custom-control-description"><span>Ukraine Intl Airlines</span></span>
							<button type="button" class="btn btn-link">Only</button>
						</label>
						<label class="custom-control custom-checkbox">
							<input class="custom-control-input" type="checkbox" name="airlines" value="UA"><span
								class="custom-control-indicator"></span><span
								class="custom-control-description"><span>United Airlines</span></span>
							<button type="button" class="btn btn-link">Only</button>
						</label>
					</div>
					<div class="filter-show-more">
						<button class="btn btn-link" type="button">Show all</button>
					</div>
				</div>
			</div>
			<div class="filter-card card">
				<div class="card-header"><span class="card-title"><i class="ei-airport-alt"></i> Airports</span><i
						class="ei-expand-less"></i></div>
				<div class="collapse show">
					<div class="custom-controls-stacked" style="max-height: 204px;">
						<div class="btn-group-filter btn-group-filter-link" role="group">
							<button type="button" class="btn btn-outline-info">Select all</button>
							<button type="button" class="btn btn-outline-info">Select none</button>
						</div>
						<label class="custom-control custom-checkbox">
							<input class="custom-control-input" type="checkbox" name="sameAirport" value="1"><span
								class="custom-control-indicator"></span><span
								class="custom-control-description"><span>Departure / return same airport</span></span>
						</label>
						<label class="custom-control custom-checkbox">
							<input class="custom-control-input" type="checkbox" name="airports" value="EWR"><span
								class="custom-control-indicator"></span><span
								class="custom-control-description"><span>New York - Newark Liberty Intl
									Airport</span></span>
							<button type="button" class="btn btn-link">Only</button>
						</label>
						<label class="custom-control custom-checkbox">
							<input class="custom-control-input" type="checkbox" name="airports" value="SXF"><span
								class="custom-control-indicator"></span><span
								class="custom-control-description"><span>Berlin - Schoenefeld Airport</span></span>
							<button type="button" class="btn btn-link">Only</button>
						</label>
						<label class="custom-control custom-checkbox">
							<input class="custom-control-input" type="checkbox" name="airports" value="LCY"><span
								class="custom-control-indicator"></span><span
								class="custom-control-description"><span>London - City London Airport</span></span>
							<button type="button" class="btn btn-link">Only</button>
						</label>
						<label class="custom-control custom-checkbox">
							<input class="custom-control-input" type="checkbox" name="airports" value="BRU"><span
								class="custom-control-indicator"></span><span
								class="custom-control-description"><span>Brussels - Brussels Airport</span></span>
							<button type="button" class="btn btn-link">Only</button>
						</label>
						<label class="custom-control custom-checkbox">
							<input class="custom-control-input" type="checkbox" name="airports" value="CDG"><span
								class="custom-control-indicator"></span><span
								class="custom-control-description"><span>Paris - Charles De Gaulle Airport</span></span>
							<button type="button" class="btn btn-link">Only</button>
						</label>
						<label class="custom-control custom-checkbox">
							<input class="custom-control-input" type="checkbox" name="airports" value="LGA"><span
								class="custom-control-indicator"></span><span
								class="custom-control-description"><span>New York - La Guardia Airport</span></span>
							<button type="button" class="btn btn-link">Only</button>
						</label>
						<label class="custom-control custom-checkbox">
							<input class="custom-control-input" type="checkbox" name="airports" value="AMS"><span
								class="custom-control-indicator"></span><span
								class="custom-control-description"><span>Amsterdam - Schiphol Airport</span></span>
							<button type="button" class="btn btn-link">Only</button>
						</label>
						<label class="custom-control custom-checkbox">
							<input class="custom-control-input" type="checkbox" name="airports" value="TXL"><span
								class="custom-control-indicator"></span><span
								class="custom-control-description"><span>Berlin - Tegel Airport</span></span>
							<button type="button" class="btn btn-link">Only</button>
						</label>
						<label class="custom-control custom-checkbox">
							<input class="custom-control-input" type="checkbox" name="airports" value="OSL"><span
								class="custom-control-indicator"></span><span
								class="custom-control-description"><span>Oslo - Gardermoen Airport</span></span>
							<button type="button" class="btn btn-link">Only</button>
						</label>
						<label class="custom-control custom-checkbox">
							<input class="custom-control-input" type="checkbox" name="airports" value="IST"><span
								class="custom-control-indicator"></span><span
								class="custom-control-description"><span>Istanbul - Istanbul Airport</span></span>
							<button type="button" class="btn btn-link">Only</button>
						</label>
						<label class="custom-control custom-checkbox">
							<input class="custom-control-input" type="checkbox" name="airports" value="IAD"><span
								class="custom-control-indicator"></span><span
								class="custom-control-description"><span>Washington - Dulles Intl Airport</span></span>
							<button type="button" class="btn btn-link">Only</button>
						</label>
						<label class="custom-control custom-checkbox">
							<input class="custom-control-input" type="checkbox" name="airports" value="KEF"><span
								class="custom-control-indicator"></span><span
								class="custom-control-description"><span>Reykjavik - Keflavik Intl Airport</span></span>
							<button type="button" class="btn btn-link">Only</button>
						</label>
						<label class="custom-control custom-checkbox">
							<input class="custom-control-input" type="checkbox" name="airports" value="SVO"><span
								class="custom-control-indicator"></span><span
								class="custom-control-description"><span>Moscow - Sheremetyevo Intl
									Airport</span></span>
							<button type="button" class="btn btn-link">Only</button>
						</label>
						<label class="custom-control custom-checkbox">
							<input class="custom-control-input" type="checkbox" name="airports" value="WAW"><span
								class="custom-control-indicator"></span><span
								class="custom-control-description"><span>Warsaw - F.Chopin Airport</span></span>
							<button type="button" class="btn btn-link">Only</button>
						</label>
						<label class="custom-control custom-checkbox">
							<input class="custom-control-input" type="checkbox" name="airports" value="JFK"><span
								class="custom-control-indicator"></span><span
								class="custom-control-description"><span>New York - John F Kennedy Airport</span></span>
							<button type="button" class="btn btn-link">Only</button>
						</label>
						<label class="custom-control custom-checkbox">
							<input class="custom-control-input" type="checkbox" name="airports" value="ZRH"><span
								class="custom-control-indicator"></span><span
								class="custom-control-description"><span>Zurich - Zurich Airport</span></span>
							<button type="button" class="btn btn-link">Only</button>
						</label>
						<label class="custom-control custom-checkbox">
							<input class="custom-control-input" type="checkbox" name="airports" value="YUL"><span
								class="custom-control-indicator"></span><span
								class="custom-control-description"><span>Montreal - P Trudeau Intl Airport</span></span>
							<button type="button" class="btn btn-link">Only</button>
						</label>
						<label class="custom-control custom-checkbox">
							<input class="custom-control-input" type="checkbox" name="airports" value="MAD"><span
								class="custom-control-indicator"></span><span
								class="custom-control-description"><span>Madrid - Barajas Airport</span></span>
							<button type="button" class="btn btn-link">Only</button>
						</label>
						<label class="custom-control custom-checkbox">
							<input class="custom-control-input" type="checkbox" name="airports" value="DUB"><span
								class="custom-control-indicator"></span><span
								class="custom-control-description"><span>Dublin - Dublin International
									Airport</span></span>
							<button type="button" class="btn btn-link">Only</button>
						</label>
						<label class="custom-control custom-checkbox">
							<input class="custom-control-input" type="checkbox" name="airports" value="BUD"><span
								class="custom-control-indicator"></span><span
								class="custom-control-description"><span>Budapest - Liszt Ferenc Intl
									Airport</span></span>
							<button type="button" class="btn btn-link">Only</button>
						</label>
						<label class="custom-control custom-checkbox">
							<input class="custom-control-input" type="checkbox" name="airports" value="FCO"><span
								class="custom-control-indicator"></span><span
								class="custom-control-description"><span>Rome - Fiumicino Airport</span></span>
							<button type="button" class="btn btn-link">Only</button>
						</label>
						<label class="custom-control custom-checkbox">
							<input class="custom-control-input" type="checkbox" name="airports" value="VIE"><span
								class="custom-control-indicator"></span><span
								class="custom-control-description"><span>Vienna - Vienna Intl Airport</span></span>
							<button type="button" class="btn btn-link">Only</button>
						</label>
						<label class="custom-control custom-checkbox">
							<input class="custom-control-input" type="checkbox" name="airports" value="FRA"><span
								class="custom-control-indicator"></span><span
								class="custom-control-description"><span>Frankfurt - Frankfurt Am Main
									Airport</span></span>
							<button type="button" class="btn btn-link">Only</button>
						</label>
						<label class="custom-control custom-checkbox">
							<input class="custom-control-input" type="checkbox" name="airports" value="LHR"><span
								class="custom-control-indicator"></span><span
								class="custom-control-description"><span>London - Heathrow Airport</span></span>
							<button type="button" class="btn btn-link">Only</button>
						</label>
						<label class="custom-control custom-checkbox">
							<input class="custom-control-input" type="checkbox" name="airports" value="ORY"><span
								class="custom-control-indicator"></span><span
								class="custom-control-description"><span>Paris - Orly Airport</span></span>
							<button type="button" class="btn btn-link">Only</button>
						</label>
						<label class="custom-control custom-checkbox">
							<input class="custom-control-input" type="checkbox" name="airports" value="KBP"><span
								class="custom-control-indicator"></span><span
								class="custom-control-description"><span>Kiev - Boryspil Intl Airport</span></span>
							<button type="button" class="btn btn-link">Only</button>
						</label>
						<label class="custom-control custom-checkbox">
							<input class="custom-control-input" type="checkbox" name="airports" value="YYZ"><span
								class="custom-control-indicator"></span><span
								class="custom-control-description"><span>Toronto - Pearson Intl Airport</span></span>
							<button type="button" class="btn btn-link">Only</button>
						</label>
						<label class="custom-control custom-checkbox">
							<input class="custom-control-input" type="checkbox" name="airports" value="MUC"><span
								class="custom-control-indicator"></span><span
								class="custom-control-description"><span>Munich - Franz-Josef-Strauss
									Airport</span></span>
							<button type="button" class="btn btn-link">Only</button>
						</label>
						<label class="custom-control custom-checkbox">
							<input class="custom-control-input" type="checkbox" name="airports" value="LGW"><span
								class="custom-control-indicator"></span><span
								class="custom-control-description"><span>London - Gatwick Airport</span></span>
							<button type="button" class="btn btn-link">Only</button>
						</label>
						<label class="custom-control custom-checkbox">
							<input class="custom-control-input" type="checkbox" name="airports" value="ARN"><span
								class="custom-control-indicator"></span><span
								class="custom-control-description"><span>Stockholm - Arlanda Airport</span></span>
							<button type="button" class="btn btn-link">Only</button>
						</label>
					</div>
					<div class="filter-show-more">
						<button class="btn btn-link" type="button">Show all</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="ads"></div>
	<div class="ads"></div>
	<div class="ads"></div>
</div>